@import "bootstrap-sass/lib/bootstrap";

////////////////////////////////////////////////////////////////////////
// mixins

@mixin clearfix($minHeight: 1px) {
    min-height: $minHeight;
    zoom: 1; // Turn on IE hasLayout property

    &:after {
        clear: both;
        visibility: hidden;
        display: block;
        height: 0;
        font-size: 0;
        content: '.';
    }
}

@mixin sandboxed() {
    box-sizing: border-box;
}

////////////////////////////////////////////////////////////////////////

html, body, .app {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

section {
    @include sandboxed();

    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    padding: 30px;
    text-align: center;
    background: #ccc;

    h1,
    h2 {
        line-height: 1.2;
        text-transform: uppercase;
    }

    h2 {
        margin: .5em 0 1em;
        font-size: 50px;
    }
}

.section-small {
    min-height: 0;
}

.hamburger-content {
    display: block;
    position: fixed;
    width: 270px;
    height: 100%;
    background: rgba(255,255,255,0.8);
    color: #000;
    top: 30px;
    left: -270px;
    z-index: 100;

    .section-list {
        width: 100%;
    }

    .section-item {
        width: 235px;
        height: 60px;
        list-style: none;
        text-align: left;
        padding-top: 20px;
        padding-left: 10px;
        font-size: 30px;

        &:hover {
            background: rgba(255,255,255,0.5);
        }
    }
}

.hamburger-arrow {
    display: block;
    position: fixed;
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,1);
    top: 30px;
    left: 0px;
    z-index: 99;

    i {
        padding-left: 26px;
        padding-top: 26px;
        font-size: 60px;
    }

    &:hover {
        background: rgba(255,255,255,0.8);
    }
}

.nav-arrow {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,1);
    right: 30px;
    bottom: 40px;
    z-index: 100;

    i {
        padding-top: 26px;
        padding-left: 23px;
        font-size: 60px;
    }

    &:hover {
        background: rgba(255,255,255,0.5);
    }
}

////////////////////////////////////////////////////////////////////////
// wide unit
.wide {
    width: 100%;
    padding: 0;
}


////////////////////////////////////////////////////////////////////////
// hero unit

.hero {
    display: block;
    text-align: left;
    color: #fff;

    &:after {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        content: '';
        width: 100%;
        height: 100%;

        background-color: #000;
        background-image: url("http://gifalicious.net/images/be33d96e.cool-cat.gif");
        background-size: 100% 100%;

        // -webkit-transform: scaleX(5) scaleY(-5);
        // -webkit-transform: scaleY(-1);
        -webkit-transform-origin: 50% 50%;
        // -webkit-filter: contrast(90%);
    }

    h1 {
        position: absolute;
        z-index: 2;
        font-size: 80px;
        background-color: #000;
        padding-left: 30px;
        padding-right: 20px;

        &.czech {
            bottom: 140px;
            left: 0px;
        }
        &.hackathon {
            bottom: 30px;
            left: 00px;
        }
    }
}

////////////////////////////////////////////////////////////////////////
// description

.description-content {
    width: 725px;
    margin: 0 auto;

    font-size: 20px;

    .social-icons {
        font-size: 50px;
        letter-spacing: 0.5em;
        a {
            text-decoration: none;
            color: #333;
        }
    }

}



////////////////////////////////////////////////////////////////////////
// subscribe

%no-outline {
    outline: none;
    box-shadow: none;
}

.subscribe {
    color: #000;
    background: #ef6233;

    > h2 {
        color: #fff;
    }
}

.subscribe-form {
    width: 725px;
    margin: 0 auto;
    padding: 25px;
    background: #d7582e;
}

.form-items {
    @include sandboxed();
    display: table;
    table-layout: fixed;
    width: 100%;
}

.form-item {
    display: table-row;
}

%form-cell {
    display: table-cell;
    padding-top: 20px;
    border-bottom: 1px dotted #000;
    vertical-align: bottom;
    font-size: 25px;
}

.form-item-text {
    @extend %form-cell;
    width: 205px;

    label {
        padding: 0 20px 0 0;
        text-align: left;
        font-size: inherit;
        font-weight: bold;
        color: #000;
    }
}

.form-inputs {
    @extend %form-cell;

    > input {
        @include sandboxed();
        width: 100%;
        height: 40px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        font-size: inherit;
        color: #000;
        background: transparent;
        box-shadow: none;

        &:focus {
            @extend %no-outline;
        }

        &:focus:invalid {
            @extend %no-outline;
            color: #000;
        }
    }
}

.form-buttons {
    @extend %form-cell;
    display: block;
    padding-top: 30px;
    border: none;

    > button {
        @include sandboxed();
        width: 100%;
        height: 62px;
        margin: 0;
        padding: 0;
        border: none;
        line-height: 62px;
        font-size: inherit;
        background: #ac4625;

        &:hover,
        &:focus,
        &:active {
            @extend %no-outline;
            background: darken(#ac4625, 5%);
        }
    }
}
////////////////////////////////////////////////////////////////////////
// topics

.topics {
    color: #fff;
    background: #34495e;
}


////////////////////////////////////////////////////////////////////////
// superheroes

.superheroes {
    color: #fff;
    background: #34495e;
}

.superheroes-items {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.superhero-item {
    @include clearfix();
    display: table-row;
    text-align: left;

    %cell {
        display: table-cell;
        padding-bottom: 30px;
        vertical-align: middle;
    }

    > img {
        @extend %cell;
    }

    > figcaption {
        @extend %cell;
        padding-left: 30px;
        font-size: 20px;
    }

    &:last-of-type {
        > img,
        > figcaption {
            padding-bottom: 0;
        }
    }
}

.photoItems {
    @include clearfix();
    margin-bottom: 25px;

    > li {
        display: block;

        > a {
            float: left;
            width: 140px;
            height: 140px;
            margin: 0 10px 10px 0;
            background: #000;
            @include transition(.2s background ease-in-out);

            img {
                display: block;
                // max-width: 140px;
                // max-height: 140px;
                vertical-align: middle;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////
// sponsors

.sponsor-box {
    float: left;
    display: inline;
    width: 20%;
    height: 15vw;
    line-height: 15vw;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5vw;
    color: #fff;
}

.sponsor {
}

.kerio {
    background: rgb(1,52,116);
}
.gooddata {
    background: rgb(102,152,187);
}
.geewa {
    background: rgb(0,163,225);
}
.inmite {
    background: rgb(147,188,40);
}
.socialbakers {
    background: rgb(134,18,118);
}

////////////////////////////////////////////////////////////////////////
// footer

.footer {
    color: #fff;
    background: #34495e;
    height: 150px;

    h1 {
        font-size: 50px;
        float: left;
        line-height: 130px;
        padding-left: 30px;
    }
}
