@import "bootstrap-sass/lib/bootstrap";

////////////////////////////////////////////////////////////////////////
// mixins

$phones: 480px;
$tablets: 768px;
$desktops: 992px;

@mixin clearfix($minHeight: 1px) {
    min-height: $minHeight;
    zoom: 1; // Turn on IE hasLayout property

    &:after {
        clear: both;
        visibility: hidden;
        display: block;
        height: 0;
        font-size: 0;
        content: '.';
    }
}

@mixin sandboxed() {
    box-sizing: border-box;
}

@mixin respond-to($media) {
    @if $media == phones {
        @media only screen and (max-width: $phones) {
            @content;
        }
    }
    @else if $media == tablets {
        @media only screen and (min-width: $tablets + 1) and (max-width: $desktops - 1) {
            @content;
        }
    }
    @else if $media == handhelds {
        @media only screen and (max-width: $desktops - 1) {
            @content;
        }
    }
    @else if $media == desktops {
        @media only screen and (min-width: $desktops + 1) {
            @content;
        }
    }
}

.l-prev {
    float: left;
}

.l-next {
    float: right;
}

.l-full {
    width: 950px;
    margin: 0 auto;

    @include respond-to(handhelds) {
        width: auto;
    }
}

.l-aside {
    float: left;
    width: 300px;
}

.l-content {
    float: right;
    width: 625px;
}

.l-content,
.l-aside {
    @include respond-to(handhelds) {
        float: none;
        width: auto;
        margin: 20px;
    }
}

////////////////////////////////////////////////////////////////////////

html, body, .app {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.45;
}

p {
    margin-bottom: 30px;
}

.container {
    @include respond-to(handhelds) {
        width: auto;
    }
}

section {
    @include clearfix();
    @include sandboxed();

    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    padding: 30px;
    text-align: center;
    background: #ccc;

    h1,
    h2 {
        line-height: 1.2;
        text-transform: uppercase;
    }

    h2 {
        font-family: 'bebas_neueregular';
        margin: .5em 0 1em;
        font-size: 50px;
    }

    @include respond-to(handhelds) {
        h2 {
            font-size: 30px;
        }
    }
}

.section-small {
    min-height: 0;
}

.section-fullSize {
    width: 100%;
    padding: 0;
}

////////////////////////////////////////////////////////////////////////
// navigation

.navigation {
    position: fixed;
    top: 30px;
    left: -270px;
    z-index: 100;
    display: block;
    width: 270px;
    height: 100%;
    color: #000;
    background: rgba(255, 255, 255, .8);
}

.navigation-list {
    width: 100%;
    margin: 0 0 0 16px;
    padding: 0;

    > li {
        list-style: none;
        padding: 20px 0 0 10px;
        line-height: 60px;
        text-align: left;
        font-size: 30px;
        cursor: pointer;
        width: 243px;

        &:hover {
            background: rgba(255, 255, 255, .5);
        }
    }
}

%arrow {
    display: block;
    width: 100px;
    height: 100px;
    z-index: 100;
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    color: #fff;
    background: #000;

    &:hover,
    &:focus,
    &:active {
        color: #000;
        text-decoration: none;
    }
}

.navigation-arrow {
    @extend %arrow;
    position: fixed;
    top: 30px;
    left: 0px;

    &:hover,
    &:focus,
    &:active {
        background: rgba(255,255,255, .8);
    }
}

.navigation-scroll {
    @extend %arrow;
    position: absolute;
    right: 0px;
    bottom: 40px;

    &:hover,
    &:focus,
    &:active {
        background: rgba(255,255,255, .5);
    }
}

////////////////////////////////////////////////////////////////////////
// hero unit

.hero {
    display: block;
    text-align: left;
    color: #fff;
    font-family: 'bebas_neueregular', Helvetica Neue;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        content: '';
        width: 100%;
        height: 100%;

        background-color: #000;
        background-image: url("../images/cool-cat.gif");
        background-size: 100% 100%;

        // -webkit-transform: scaleX(5) scaleY(-5);
        // -webkit-transform: scaleY(-1);
        -webkit-transform-origin: 50% 50%;
        // -webkit-filter: contrast(90%);
    }

    @include respond-to(handhelds) {
        padding-top: 130px;
    }
}

%hero-headline {
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 2px;

    span {
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        background-color: #000;
    }

    @include respond-to(handhelds) {
        position: relative;
        top: auto !important;
        left: auto !important;
        bottom: auto !important;
        right: auto !important;
        font-size: 50px;
    }
}

.event-name {
    @extend %hero-headline;
    bottom: 40px;
    left: 0;
    max-width: 500px;
}

.event-date {
    @extend %hero-headline;
    top: 30px;
    right: 0;
}

////////////////////////////////////////////////////////////////////////
// description
%description-class {
    max-width: 725px;
    margin: 0 auto;

    font-size: 25px;
}

.description-content {
    @extend %description-class;
    text-align: left;
}

.description-left {
    @extend %description-class;
    .social-icons {
        font-size: 50px;
        letter-spacing: 0.5em;
        a {
            text-decoration: none;
            color: #333;
        }
    }
}

////////////////////////////////////////////////////////////////////////
// subscribe

%no-outline {
    outline: none;
    box-shadow: none;
}

.subscribe {
    color: #000;
    background: #ef6233;

    > h2 {
        color: #fff;
    }
}

.subscribe-form {
    @include sandboxed();
    width: 725px;
    margin: 0 auto;
    padding: 25px;
    background: #d7582e;
    margin-bottom: 60px;

    @include respond-to(handhelds) {
        width: 100%;
    }
}

.form-items {
    @include sandboxed();
    display: table;
    table-layout: fixed;
    width: 100%;
}

.form-item {
    display: table-row;
}

%form-cell {
    display: table-cell;
    padding-top: 20px;
    border-bottom: 1px dotted #000;
    vertical-align: bottom;
    font-size: 25px;
}

.form-items,
.form-item,
%form-cell {
    @include respond-to(handhelds) {
        display: block;
    }
}

.form-item-text {
    @extend %form-cell;
    width: 205px;

    label {
        padding: 0 20px 0 0;
        text-align: left;
        font-size: inherit;
        font-weight: bold;
        color: #000;
    }

    @include respond-to(handhelds) {
        border: none;
    }
}

.form-inputs {
    @extend %form-cell;

    > input {
        @include sandboxed();
        width: 100%;
        height: 40px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        font-size: inherit;
        color: #000;
        background: transparent;
        box-shadow: none;

        &:focus {
            @extend %no-outline;
        }

        &:focus:invalid {
            @extend %no-outline;
            color: #000;
        }
    }

    @include respond-to(handhelds) {
        padding: 0;
    }
}

.form-buttons {
    @extend %form-cell;
    display: block;
    padding-top: 30px;
    border: none;

    > button {
        @include sandboxed();
        width: 100%;
        height: 62px;
        margin: 0;
        padding: 0;
        border: none;
        line-height: 62px;
        font-size: inherit;
        background: #ac4625;

        &:hover,
        &:focus,
        &:active {
            @extend %no-outline;
            background: darken(#ac4625, 5%);
        }
    }
}


////////////////////////////////////////////////////////////////////////
// topics

.topics {
    color: #fff;
    background: #34495e;
}


////////////////////////////////////////////////////////////////////////
// superheroes

.superheroes {
    color: #fff;
    background: #34495e;
}

.superheroes-items {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.superhero-item {
    @include clearfix();
    display: table-row;
    text-align: left;

    %cell {
        display: table-cell;
        padding-bottom: 30px;
        vertical-align: middle;
    }

    > img {
        @extend %cell;
    }

    > figcaption {
        @extend %cell;
        padding-left: 30px;
        font-size: 20px;
    }

    &:last-of-type {
        > img,
        > figcaption {
            padding-bottom: 0;
        }
    }
}

.photos {
    @include clearfix();
    margin-bottom: 25px;
    padding: 0;

    > li {
        float: left;
        display: block;
        margin: 0 0 10px 10px;
        list-style: none;

        > a {
            width: 140px;
            height: 140px;
            background: #000;
            @include transition(.2s background ease-in-out);

            img {
                display: block;
                vertical-align: middle;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////
// map

.map {
    position: relative;

    iframe {
        display: block;
    }
}

.map-address {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 660px;
    margin: 0 0 0 -350px;
    padding: 20px;
    line-height: 1.5;
    text-align: right;
    font-size: 30px;
    color: #000;
    background: #bdc3c7;

    @include respond-to(handhelds) {
        position: static;
        width: auto;
        margin: 0;
        text-align: center;
    }
}

////////////////////////////////////////////////////////////////////////
// sponsors

.sponsors {
    overflow: hidden;
    width: 100%;
    margin: 0;

    > li {
        float: left;
        width: 20%;
        list-style: none;
    }

    @include respond-to(handhelds) {
        > li {
            float: none;
            width: auto;
        }
    }
}

%sponsor {
    display: block;
    height:  170px;
    line-height: 170px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 30px;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: #fff;
        background: #000;
    }

    @include respond-to(handhelds) {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }
}

.sponsor-kerio {
    @extend %sponsor;
    background: rgb(1, 52, 116);
}

.sponsor-gooddata {
    @extend %sponsor;
    background: rgb(102, 152, 187);
}

.sponsor-geewa {
    @extend %sponsor;
    background: rgb(0, 163, 225);
}

.sponsor-inmite {
    @extend %sponsor;
    background: rgb(147, 188, 40);
}

.sponsor-socialbakers {
    @extend %sponsor;
    background: rgb(134, 18, 118);
}

////////////////////////////////////////////////////////////////////////
// footer

.footer {
    min-height: 78px;
    padding: 45px;
    line-height: 78px;
    text-align: left;
    color: #fff;
    background: #34495e;

    h2 {
        margin: 0;
        padding: 0 30px;
        line-height: inherit;
        font-size: 50px;
    }

    @include respond-to(handhelds) {
        padding: 20px;

        h2 {
            font-size: 30px;
        }
    }
}
