        <section class="hero" id="hero">
            {{render hamburger}}
            <h1>Czech<br> Hackathon</h1>
        </section>

        <section class="description section-small" id="description">
            <div class="col-xs-12">
                <h2>Prague, October 18 - 20, 2013</h2>
                <div class="description-content">
                    <p>Join us for a weekend full of ideas, hacking, great atmosphere and enjoy the possibility to hang out with experts from leading czech companies.</p>
                    <div class="social-icons">
                        <i class="icon-facebook-sign"></i>
                        <i class="icon-twitter-sign"></i>
                        <i class="icon-google-plus-sign"></i>
                    </div>
                    <p>Registration begins on 18th September, 2013</p>
                </div>
            </div>
        </section>

        <section class="topics section-small" id="topics">
            <div class="col-xs-12">
                <h2>Cloud & Mobile</h2>
                <div class="description-content">
                    <p>The topics of the hackathon are cloud and mobile. Specifying topics this wide should give all the participants enough freedom to come up with great ideas. We, as organizers, will be there to support your projects and provide mentoring and help.</p>
                    <p>We believe, in order to have real fun, that the hackathon teams and ideas should orgranically arise from the interaction between participants right at the beginning of the event, so be prepared to give a perfect pitch ;)</p>
                    <p>During the hackathon we will take care of food, drinks and you will be allowed to use TechSquare facilities including a space to stay overnight.</p>
                </div>
            </div>
        </section>

        <section class="subscribe section-small" id="subscribe">
            <h2>Keep me posted</h2>
            <p>We will keep you posted about the development of the upcoming Czech Hackathon event.</p>

            {{render subscription }}
        </section>

        <section class="superheroes" id="superheroes">
            <h2>Our superheroes</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 superhero-items">
                        <figure class="superhero-item">
                            <img src="img/tmp/hero1.jpg" width="210" height="210">
                            <figcaption><strong>Jan Vlcek</strong> is UX designer &amp; web developer. District Brno-city, Czech republic. Information technology and services</figcaption>
                        </figure>
                        <figure class="superhero-item">
                            <img src="img/tmp/hero1.jpg" width="210" height="210">
                            <figcaption><strong>Jan Vlcek</strong> is UX designer &amp; web developer. District Brno-city, Czech republic. Information technology and services</figcaption>
                        </figure>
                        <figure class="superhero-item">
                            <img src="img/tmp/hero1.jpg" width="210" height="210">
                            <figcaption><strong>Jan Vlcek</strong> is UX designer &amp; web developer. District Brno-city, Czech republic. Information technology and services</figcaption>
                        </figure>
                        <figure class="superhero-item">
                            <img src="img/tmp/hero1.jpg" width="210" height="210">
                            <figcaption><strong>Jan Vlcek</strong> is UX designer &amp; web developer. District Brno-city, Czech republic. Information technology and services</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </section>

        <section class="social section-small" id="social">
            <h2>#czechhackathon</h2>

            <a class="twitter-timeline" href="https://twitter.com/search?q=%23hackathon" data-widget-id="370514385275330560">Tweets about "#hackathon"</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            {{render photos}}
        </section>

        <section class="wide section-small" id="map">
            <iframe width="100%" height="300" frameborder="0" src="http://a.tiles.mapbox.com/v3/petrvolny.map-1sokhw4d.html#12/50.07102330352104/14.42178726196289"></iframe>
        </section>

        <section class="wide section-small" id="sponsors">
            <a href="http://www.gooddata.com"><div class="gooddata sponsor-box">GoodData</div></a>
            <a href="http://www.kerio.com"><div class="kerio sponsor-box"><p>Kerio</p></div>
            <a href="http://corporate.geewa.com"><div class="geewa sponsor-box">Geewa</div>
            <a href="http://www.inmite.com"><div class="inmite sponsor-box">Inmite</div>
            <a href="http://www.socialbakers.com"><div class="socialbakers sponsor-box">Socialbakers</div>
        </section>

        <!--div class="row">
            We need you
        </div>

        <div class="row">
            Speakers / super heroes
        </div>

        <div class="row">
            Sponsors
        </div-->
