        <section class="hero" id="hero">
            {{render navigation}}
            <h1 class="event-name"><span>Czech Hackathon</span></h1>
            <h1 class="event-date"><span>Oct 18 - 20, Prague</span></h1>
        </section>

        <section class="description section-small" id="description">
            <div class="col-xs-12">
                <h2>Prague, October 18 - 20, 2013</h2>
                <div class="description-content">
                    <p>Join us for a weekend full of ideas, hacking, great atmosphere and enjoy the possibility to hang out with experts from leading czech companies.</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/czhackathon"><i class="icon-facebook-sign"></i></a>
                        <a href="https://www.twitter.com/czhackathon"><i class="icon-twitter-sign"></i></a>
                        <a href="https://plus.google.com/104719289486706904674/about"><i class="icon-google-plus-sign"></i></a>
                    </div>
                    <p>Registration begins on 18th September, 2013</p>
                </div>
            </div>
        </section>

        <section class="topics section-small" id="topics">
            <div class="col-xs-12">
                <h2>Cloud & Mobile</h2>
                <div class="description-content">
                    <p>The topics of the hackathon are cloud and mobile. Specifying topics this wide should give all the participants enough freedom to come up with great ideas. We, as organizers, will be there to support your projects and provide mentoring and help.</p>
                    <p>We believe, in order to have real fun, that the hackathon teams and ideas should orgranically arise from the interaction between participants right at the beginning of the event, so be prepared to give a perfect pitch ;)</p>
                    <p>During the hackathon we will take care of food, drinks and you will be allowed to use TechSquare facilities including a space to stay overnight.</p>
                </div>
            </div>
        </section>

        <section class="subscribe section-small" id="subscribe">
            <h2>Keep me posted</h2>
            <p>We will keep you posted about the development of the upcoming Czech Hackathon event.</p>

            {{render subscription }}
        </section>

        <section class="superheroes" id="superheroes">
            <h2>Our superheroes</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 superhero-items">
                        <figure class="superhero-item">
                            <img src="img/tmp/hero1.jpg" width="210" height="210">
                            <figcaption><strong>Martin Homolka</strong> - Keen interest in big data drove Martin to launch Socialbakers where he spearheads design and development of its scalable database and cloud architecture. </figcaption>
                        </figure>
                        <figure class="superhero-item">
                            <img src="img/tmp/hero1.jpg" width="210" height="210">
                            <figcaption><strong>Petr Dvořák</strong> - With four mobile banking apps for iOS and Android under his belt, Petr knows a thing or two about designing mobile apps where security is paramount.</figcaption>
                        </figure>
                        <figure class="superhero-item">
                            <img src="img/tmp/hero1.jpg" width="210" height="210">
                            <figcaption><strong>Petr Volný</strong> - Making big data understandable to anyone by creating robust visualization platform as a front end engineer in GoodData.</figcaption>
                        </figure>
                        <figure class="superhero-item">
                            <img src="img/tmp/hero1.jpg" width="210" height="210">
                            <figcaption><strong>Jan Ježek</strong> - Network security drove much of Jan&apos;s early professional life and ultimately lead him to embracing cloud security and cloud architecture for Samepage.io.</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </section>

        <section class="social section-small" id="social">
            <h2>#czhackathon</h2>

            <div class="l-full">
                <div class="feed l-aside">
                    <a class="twitter-timeline" href="https://twitter.com/search?q=%23hackathon" data-widget-id="370514385275330560">Tweets about "#hackathon"</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>

                <div class="l-content">
                    {{render photos}}
                </div>
            </div>
        </section>

        <section class="map section-small section-fullSize" id="map">
            <address class="map-address">
                Techsquare<br>
                <strong>Křížová</strong> 2598 / <strong>4</strong><br>
                150 00 <strong>Praha 5</strong>
            </address>
            <iframe width="100%" height="400" frameborder="0" src="http://a.tiles.mapbox.com/v3/petrvolny.map-1sokhw4d.html#12/50.07102330352104/14.42178726196289"></iframe>
        </section>

        <section class="section-small section-fullSize" id="sponsors">
            <ul class="sponsors">
                <li><a href="https://www.gooddata.com" class="sponsor-gooddata">GoodData</a></li>
                <li><a href="http://www.kerio.com" class="sponsor-kerio">Kerio</a></li>
                <li><a href="http://corporate.geewa.com" class="sponsor-geewa">Geewa</a></li>
                <li><a href="http://www.inmite.com" class="sponsor-inmite">Inmite</a></li>
                <li><a href="http://www.socialbakers.com" class="sponsor-socialbakers">Socialbakers</a></li>
            </ul>
        </section>

        <section class="footer section-small section-fullSize" id="footer">
            <h2 class="l-prev">Czech Hackathon!</h2>
            <img src="../images/cat-avatar.jpg" width="78" height="78" alt="Hacking cat" class="l-next">
        </section>
