        <section class="hero">
            <h1>Czech<br> hackathon</h1>
        </section>

        <section class="description section-small" id="description">
            <div class="col-xs-12">
                <h2>Cloud &amp; mobile</h2>
                <p>The topics of the hackathon are cloud and mobile. Specifying topics this wide should give all the participants enough freedom to come up with great ideas. We, as organizers, will be there to support your projects and provide mentoring and help.</p>
                <p>We believe, in order to have real fun, that the hackathon teams and ideas should orgranically arise from the interaction between participants right at the beginning of the event, so be prepared to give a perfect pitch ;)</p>
                <p>During the hackathon we will take care of food, drinks and you will be allowed to use TechSquare facilities including a space to stay overnight.</p>
            </div>

            <div class="col-xs-12">
                <h2>Where</h2>
                <address>
                   <a href="http://www.techsquare.cz">TechSquare</a>, Křížová 2598/4, 150 00 Praha 5
                </address>
                <!--iframe width='100%' height='240' frameBorder='0' src='http://a.tiles.mapbox.com/v3/petrvolny.map-1sokhw4d.html#12/50.07102330352104/14.42178726196289'></iframe-->
            </div>
        </section>

        <section class="subscribe" id="subscribe">
            <h2>Keep me posted</h2>
            <p>We will keep you posted about the development of the upcoming Czech Hackathon event.</p>

        {{render subscription }}
        </section>

        <section class="superheroes" id="superheroes">
            <h2>Our superheroes</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 superhero-items">
                        <figure class="superhero-item">
                            <img src="img/tmp/hero1.jpg" width="210" height="210">
                            <figcaption><strong>Jan Vlcek</strong> is UX designer &amp; web developer. District Brno-city, Czech republic. Information technology and services</figcaption>
                        </figure>

                        <figure class="superhero-item">
                            <img src="img/tmp/hero1.jpg" width="210" height="210">
                            <figcaption><strong>Jan Vlcek</strong> is UX designer &amp; web developer. District Brno-city, Czech republic. Information technology and services</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </section>

        <section class="social" id="social">
            <h2>Projects</h2>
        </section>

        <!--div class="row">
            We need you
        </div>

        <div class="row">
            Speakers / super heroes
        </div>

        <div class="row">
            Sponsors
        </div-->
