<div class="subscribe-form">
    <div class="form-items">
        <div class="form-item">
            <div class="form-item-text">
                <label for="subscribe-email">Email address:</label>
            </div>
            <div class="form-inputs">
                <input type="text" id="subscribe-email" required>
            </div>
        </div>

        <div class="form-item">
            <div class="form-item-text">
                <label for="subscribe-firstName">First name:</label>
            </div>
            <div class="form-inputs">
                <input type="text" id="subscribe-firstName">
            </div>
        </div>

        <div class="form-item">
            <div class="form-item-text">
                <label for="subscribe-lastName">Last name:</label>
            </div>
            <div class="form-inputs">
                <input type="text" id="subscribe-lastName">
            </div>
        </div>
    </div>

    <div class="form-buttons">
        <button type="submit" {{action "submit"}}>Subscribe to list</button>
    </div>
</div>
