<div class="feedItems">
    {{#each content}}
        <div class="feedItem">
            <p>{{{tweet}}}</p>
            <div class="feedItem-meta">
                <a {{bindAttr href="userUrl"}}>{{user}}</a>
                <!--<span>25 mins ago</span>-->
                <span>{{createdAtAgo}}</span>
            </div>
        </div>
    {{/each}}
</div>
